<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="" style="padding:5px;">{{ vendor?.name }}</a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav navbar-nav d-md-down-none">
    <!-- <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li> -->
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" ><i class="icon-bell"></i><!-- <span class="badge badge-pill badge-danger">5</span> --></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    {{ user?.first_name }} {{ user?.last_name }} {{ user?.middle_name }}
    <br>
    <!-- {{ format_date(session_data.login_time) }} -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/images/avata.png" class="img-avatar" alt="{{ user.email }}"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" [routerLink]="['/app/profile']"><i class="fa fa-user"></i> Profile</a>

        <a class="dropdown-item" style="cursor: pointer;" (click)="logout()"><i class="fa fa-shield"></i> Lock account</a>

        <a class="dropdown-item" style="cursor: pointer;" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
        
      </div>
    </li>
    <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
  </ul>
</header>
