<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
    			<form role="form" [formGroup]="signinForm" method="POST" (ngSubmit)="auth(signinForm.value)">
		            <div class="card-body">
		              <h1>Login</h1>
		              <p class="alert alert-danger" *ngIf="device_info">Can't Login in because you are already login in on a different device. {{ device_info?.browser }} browser, {{ device_info?.os }} OS</p>
		              <p class="text-muted">Sign In to your account</p>
		              <div class="input-group mb-3">
		                <span class="input-group-addon"><i class="icon-user"></i></span>
		                <input type="email" name="email" formControlName="email" class="form-control auth" placeholder="email" value="">
		              </div>
		              <small [hidden]="signinForm.controls.email.valid || (signinForm.controls.email.pristine)" class="text-danger">Email Address is required (minimum 5 characters).</small>
		              <div class="input-group mb-4">
		                <span class="input-group-addon"><i class="icon-lock"></i></span>
		                <input type="password" class="form-control auth" formControlName="password" name="password" value="" placeholder="password">
		              </div>
		              <small [hidden]="signinForm.controls.password.valid || (signinForm.controls.password.pristine)" class="text-danger">
                            Password is required (minimum 5 characters).
                        </small>
		              <div class="row">
		                <div class="col-6">
		                  	<button type="submit" class="btn btn-default btn-block btn-blue-fill-radius" [disabled]="signinForm.invalid || submitPending ">
		                        <span *ngIf="!submitPending">Login</span>
		                        <span *ngIf="submitPending && signinForm.valid">Please Wait...</span>
		                        <span *ngIf="submitPending && signinForm.valid" class="fa fa-spinner" aria-hidden="true"></span>
		                    </button>
		                </div>
		                <div class="col-6 text-right">
		                  <a [routerLink]="['/forgot-password']" class="btn btn-link px-0">Forgot password?</a>
		                </div>
		              </div>
		            </div>
		        </form>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Asusu</h2>
                <p>Management Portal</p>
                <!-- <button type="button" class="btn btn-primary active mt-3">Register Now!</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
